<!doctype html>

<html lang="fr">

    <head>
        <meta charset="utf_8">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>

    <body>
        <p> {% if sex == 'Masculin' %} 
            Bonjour Mr {{first_name }} {{ last_name }}, votre nom d'utilisateur est {{ pseudo }}
            {% else %}
            Bonjour Mme {{first_name }} {{ last_name }}, votre nom d'utilisatrice est {{ pseudo }}
            {% endif %}
        </p>
        <a href="{{ url_for('hello') }}"> Cliquer ici pour revenir à l'accueil.</a>
    </body>

</html>
