<!doctype html>
<html lang="fr">

    <head>
        <meta charset="utf_8">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <title>Page d'upload de fichier</title>
    </head>

    <body>

        <div>
            <p> Veuillez uploader votre fichier.</p>
                <form action = "{{ url_for('display_file') }}" method = "POST" enctype = "multipart/form-data">
                     <input type = "file" name = "file" />
                     <input type = "submit"/>
                     <input type = "reset"/>
                </form>  
        </div>  
        
    </body>

</html>
