<!doctype html>
<html lang="fr">

    <head>
        <meta charset="utf_8">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>

    <body>
        <div>
            <p> Veuillez saisir votre prénom, nom, sexe, et votre pseudo.</p>
            <form action="{{ url_for('text_box') }}" method="POST">
            <input type="text" name="first_name">
            <input type="text" name="last_name">
            <div>
                <label for="sex-select">Précisez votre sexe (par 'M'ou 'F')</label>
                <select name="sex" id="sex-select">
                    <option value="">--Sélectionnez une option--</option>
                    <option value="Masculin">M</option>
                    <option value="Feminin">F</option> 
                </select>
            </div>
            <input type="text" name="pseudo">
            <button type="submit">OK</button>
            </form>
        </div>

    </body>

</html>